# Prerequisites
/20250106
/build
/app
/.cache
/.vscode
/python/detection_results/
/python/.idea/
*.log
*.d
*.mp4
*.wmv

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Windows
*.user

# qgis
/resources/map/project.qgs~
/resources/map/project_attachments.zip
*.wmv
python/detection_results/frame_000001_112510.jpg
python/detection_results/frame_000031_112510.jpg
python/detection_results/frame_000061_112510.jpg
python/detection_results/frame_000091_112510.jpg
python/detection_results/frame_000121_112511.jpg
python/detection_results/frame_000151_112511.jpg
python/detection_results/frame_000181_112511.jpg
python/detection_results/frame_000211_112511.jpg
python/detection_results/frame_000241_112511.jpg
python/detection_results/frame_000271_112512.jpg
python/yolo_detection.log
resources/video/VID_20250617094821.mp4
resources/video/VID_20250617094821.wmv
python/detection_results/frame_000001_112510.jpg
python/detection_results/frame_000031_112510.jpg
python/detection_results/frame_000061_112510.jpg
python/detection_results/frame_000091_112510.jpg
python/detection_results/frame_000121_112511.jpg
python/detection_results/frame_000151_112511.jpg
python/detection_results/frame_000181_112511.jpg
python/detection_results/frame_000211_112511.jpg
python/detection_results/frame_000241_112511.jpg
python/detection_results/frame_000271_112512.jpg
python/yolo_detection.log
resources/video/VID_20250617094821.mp4
resources/video/VID_20250617094821.wmv
*.wmv
